:root {
    --agnostic-header-content-width: 80%;
  }

main {
    padding-block-start: 4rem;
    padding-block-end: 4rem;
    display: grid;
    justify-items: center;
}
  
  :where(body) {
    font-family: var(--agnostic-font-family-body);
    font-size: var(--agnostic-body);
    color: var(--agnostic-font-color);
    -webkit-font-smoothing: antialiased;
  }
  
  :where(h1) {
    font-size: var(--agnostic-h1);
  }
  
  :where(h2) {
    font-size: var(--agnostic-h2);
  }
  
  :where(h3) {
    font-size: var(--agnostic-h3);
  }
  
  :where(h4) {
    font-size: var(--agnostic-h4);
  }
  
  :where(h5) {
    font-size: var(--agnostic-h5);
  }
  
  :where(h6) {
    font-size: var(--agnostic-h6);
  }
  
  :where(img, picture, canvas, video, iframe) {
    max-inline-size: 100%;
    block-size: auto;
    vertical-align: middle;
  }

  /* This is the dark / light mode color switcher button in the header */
.toggle {
    filter: grayscale(40%);
    background: transparent;
    border-width: 0;
    border-color: transparent;
    margin-inline-start: var(--fluid-12);
    margin-inline-end: var(--fluid-20);
    padding-inline-start: var(--fluid-12);
    padding-inline-end: var(--fluid-12);
    padding-block-start: var(--fluid-2);
    padding-block-end: var(--fluid-2);
  }

  .container {
    width: 80%;
    max-inline-size: var(--agnostic-container-max-inline-size);
    padding-inline-start: var(--fluid-20);
    padding-inline-end: var(--fluid-20);
  }
  
@media screen and (min-width: 420px) {
    h1 {
        font-size: 2.2rem;
    }
}