---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Batallion" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Batallion</title>
	</head>
	<body class="bg-white dark:bg-gray-800">
		<header class="sticky top-0 z-40 flex-none w-full mx-auto shadow-md bg-white border-b border-gray-200 dark:border-gray-600 dark:bg-gray-800">
			<nav class="bg-white border-gray-200 dark:bg-gray-900">
				<div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
					<a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
						<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Batallion</span>
					</a>
				</div>
			</nav>
		</header>
		<slot />
	</body>
</html>
